body {
  background-color: rgb(58, 58, 58);
  color: white;
  text-decoration: none;
  font-size: 10px;
}

a {
  color: white;
  text-decoration: none;
}

.container-nav{
  background-color: black;
  display: flex;
  justify-content: space-between;
}


.container-dept {
  
}